# Mundo 6

### Introdução ao Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
def gerador_serie_historica(valor_inicial, volatilidade, periodos, dia_inicial, frequencia = "M"):
    
    vetor = [valor_inicial]

    for i in range(periodos - 1):

            preco = vetor[i] * (1 + np.random.normal(0, volatilidade))

            vetor.append(preco)


    serie = pd.Series(vetor, index = pd.date_range(dia_inicial, 
                                                   periods = periodos, freq = frequencia)) 
                               
    return serie

In [9]:
serie_euro = gerador_serie_historica(5, 0.01, 5, "2022-01-01")
serie_cotacoes = gerador_serie_historica(20, 0.05, 5, "2022-01-01")
serie_cotacoes

2022-01-31    20.000000
2022-02-28    19.800156
2022-03-31    22.414290
2022-04-30    22.420354
2022-05-31    23.195639
Freq: M, dtype: float64

In [10]:
serie_euro

2022-01-31    5.000000
2022-02-28    4.997614
2022-03-31    4.961889
2022-04-30    4.913211
2022-05-31    4.896018
Freq: M, dtype: float64

In [11]:
#as operações aritméticas são feitas através dos índices! 

serie_cotacoes_em_euro = serie_cotacoes/serie_euro
serie_cotacoes_em_euro

2022-01-31    4.000000
2022-02-28    3.961922
2022-03-31    4.517290
2022-04-30    4.563280
2022-05-31    4.737653
Freq: M, dtype: float64

In [12]:
serie_lucro = gerador_serie_historica(2, 0.5, 5, "2022-01-01")
serie_cotacoes = gerador_serie_historica(20, 0.05, 5, "2022-01-01")


df = pd.DataFrame({"cotacao": serie_cotacoes,
                 "lucro_por_acao": serie_lucro})

df

              cotacao  lucro_por_acao
2022-01-31  20.000000        2.000000
2022-02-28  19.375332        2.128839
2022-03-31  18.735870        3.075295
2022-04-30  18.553730        2.091368
2022-05-31  19.511469        1.367381

In [13]:
#criando coluna P/L

df['PL'] = df['cotacao']/df['lucro_por_acao']

df

              cotacao  lucro_por_acao         PL
2022-01-31  20.000000        2.000000  10.000000
2022-02-28  19.375332        2.128839   9.101359
2022-03-31  18.735870        3.075295   6.092382
2022-04-30  18.553730        2.091368   8.871577
2022-05-31  19.511469        1.367381  14.269231

In [14]:
#pode fazer qualquer operação 

print(df['cotacao'] + df['lucro_por_acao'])
print(df['cotacao'] - df['lucro_por_acao'])
print(df['cotacao'] ** df['lucro_por_acao'])

2022-01-31    22.000000
2022-02-28    21.504171
2022-03-31    21.811165
2022-04-30    20.645097
2022-05-31    20.878849
Freq: M, dtype: float64
2022-01-31    18.000000
2022-02-28    17.246493
2022-03-31    15.660576
2022-04-30    16.462362
2022-05-31    18.144088
Freq: M, dtype: float64
2022-01-31     400.000000
2022-02-28     549.979773
2022-03-31    8200.627610
2022-04-30     449.527456
2022-05-31      58.118904
Freq: M, dtype: float64

In [18]:
#operações dentro de uma mesma coluna

#somar dados de uma coluna

serie_lucro_trimestral = gerador_serie_historica(20000, 2, 4, "2022-01-01", frequencia = "Q")

print(serie_lucro_trimestral)

lucro_anual = serie_lucro_trimestral.sum()
lucro_anual

2022-03-31     20000.000000
2022-06-30     68060.520196
2022-09-30    273912.261713
2022-12-31    712326.499107
Freq: Q-DEC, dtype: float64

1074299.2810162662

In [19]:
#acumular dados de uma coluna

serie_lucro_trimestral = gerador_serie_historica(20000, 2, 4, "2022-01-01", frequencia = "Q")

print(serie_lucro_trimestral)

crescimento_lucros  = serie_lucro_trimestral.cumsum()

crescimento_lucros

2022-03-31     20000.000000
2022-06-30     50292.768183
2022-09-30     60491.045866
2022-12-31    137288.277440
Freq: Q-DEC, dtype: float64

2022-03-31     20000.000000
2022-06-30     70292.768183
2022-09-30    130783.814048
2022-12-31    268072.091488
Freq: Q-DEC, dtype: float64

In [ ]:
#maior e menor dado de lucro no trimestre

In [21]:
serie_lucro_trimestral = gerador_serie_historica(20000, 2, 4, "2022-01-01", frequencia = "Q")

print(serie_lucro_trimestral)

lucro_max = serie_lucro_trimestral.max()
lucro_min = serie_lucro_trimestral.min()

print(lucro_min)
lucro_max

2022-03-31    20000.000000
2022-06-30     7650.378125
2022-09-30    12743.086812
2022-12-31    38257.537934
Freq: Q-DEC, dtype: float64
7650.378125291027

38257.53793432035

# Exercícios 

No dataframe base trabalhado em todas as aulas:

* Exercício 50: Crie uma nova coluna chamada "lucro_por_acao" e calcule o lucro por ação baseado nas informações de PL e preço. Obs: LPA = P/Indicador(PL)
* Exercício 51: Assuma a cotação do dólar como 5.25 e crie a coluna de cotações dolarizadas na tabela.
* Exercício 52: Encontre qual volume total negociado por todas as ações. 
* Exercício 53: Selecione as ações com maior e menor Lucro por ação do dataframe. Dica: use métodos de seleção ensinados na aula passada!

In [22]:
#df_base

dicionario = {
       "nomes": ["Weg", "Petrobras", "Vale", "Petrobras", "Lojas Renner"],
       "tickers": ["WEGE3", "PETR3", "VALE3", "PETR4", "LREN3"],  
       "cotacoes": [20, 30, 40, 12, 35],
       "preco_sobre_lucro": [25, 6, 12, 7, 25],  
       "volume": [5000, 1000, 4000, 7000, 1200]
}

df_info_empresas = pd.DataFrame(dicionario)

df_info_empresas = df_info_empresas.set_index("tickers")

df_info_empresas.columns = ['nomes', 'precos', 'preco_sobre_lucro', 'volume']

In [23]:
#gabarito 50

df_info_empresas['lpa'] = df_info_empresas['precos'] / df_info_empresas['preco_sobre_lucro']

df_info_empresas

                nomes  precos  preco_sobre_lucro  volume       lpa
tickers
WEGE3             Weg      20                 25    5000  0.800000
PETR3       Petrobras      30                  6    1000  5.000000
VALE3            Vale      40                 12    4000  3.333333
PETR4       Petrobras      12                  7    7000  1.714286
LREN3    Lojas Renner      35                 25    1200  1.400000

In [24]:
#gabarito 51

dolar = 5.25

df_info_empresas['precos_dolar'] = df_info_empresas['precos'] / dolar

df_info_empresas

,nomes,precos,preco_sobre_lucro,volume,lpa,precos_dolar
tickers,,,,,,
WEGE3,Weg,20,25,5000,0.800000,3.809524
PETR3,Petrobras,30,6,1000,5.000000,5.714286
VALE3,Vale,40,12,4000,3.333333,7.619048
PETR4,Petrobras,12,7,7000,1.714286,2.285714
LREN3,Lojas Renner,35,25,1200,1.400000,6.666667

In [25]:
#gabarito 52

volume_total = df_info_empresas['volume'].sum()
volume_total

18200

In [28]:
#gabarito 53

lpa_maximo = df_info_empresas['lpa'].max()
lpa_minimo = df_info_empresas['lpa'].min()

maiorlpa_empresa = df_info_empresas[df_info_empresas['lpa'] == lpa_maximo]
maiorlpa_empresa = maiorlpa_empresa.iat[0, 0]

menorlpa_empresa = df_info_empresas[df_info_empresas['lpa'] == lpa_minimo]
menorlpa_empresa = menorlpa_empresa.iat[0, 0]

print(maiorlpa_empresa)
print(menorlpa_empresa)

Petrobras
Weg

# Mundo 7

Na próxima aula vamos aprender a usar duas ferramentas muito úteis no Pandas: Rankings e ordenação. Afinal, como ordenar uma tabela do maior pro menor PL, por exemplo?